body {
  background-color: white;
  margin: 0;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 20px;
}

.box {
  background-color: purple;
  border-radius: 10px;
  position: relative;
  width: 150px;
  height: 150px;
}

.item {
  width: 30px;
  height: 30px;
  background-color: orange;
  border: 1px solid black;
  position: absolute;
}